- content_for :head do
  = javascript_include_tag 'underscore-min', 'prefixify', 'visualization'

#board.board
  #communication.communication
    .actions
      = link_to "Don't show up messages", '#', id: 'toggle-messages'
    %ul#messages

  %h2#simulation-time.time.hidden 00:00:00

  %ul.platforms
    - (1..@simulation.platform_count).reverse_each do |platform_number|
      %li
        .rail.up{ id: "rail-#{platform_number}-1" }
          .waiting-trains.none{ id: "rail-#{platform_number}-1-waiting" }
            .icon
            %span{ id: "rail-#{platform_number}-1-waiting-count" } 1
          .total-delay.none{ id: "rail-#{platform_number}-1-delay" }
            %span.total{ id: "rail-#{platform_number}-1-delay-total" } 30
            %span.external{ id: "rail-#{platform_number}-1-delay-external" } 24
        .platform
          %h2 Platform #{platform_number}
          %span.icon-user{ id: "platform-#{platform_number}-count" } 0
        .rail.down{ id: "rail-#{platform_number}-2" }
          .waiting-trains.none{ id: "rail-#{platform_number}-2-waiting" }
            .icon
            %span{ id: "rail-#{platform_number}-2-waiting-count" } 2
          .total-delay.none{ id: "rail-#{platform_number}-2-delay" }
            %span.total{ id: "rail-#{platform_number}-2-delay-total" } 30
            %span.external{ id: "rail-#{platform_number}-2-delay-external" } 24
        .tunnel
          %span.icon-user{ id: "tunnel-#{platform_number}-count" } 0

  .main-building
    .info-office
      %header
        %h2 Information
      %ul.desks
        - (1..@simulation.info_desk_count).reverse_each do |desk_number|
          %li
            %span.icon-user{ id: "info-desk-#{desk_number}-count" } 0

    .corridor
      .waiting-room
        %header
          %h2 Waiting Room
        %span.icon-user{ id: "waiting-room-count" } 0
        %span.capacity= @simulation.waiting_room_capacity

      .hall
        %header
          %h2 Hall
        %span.icon-user{ id: "hall-count" } 0

    .cash-office
      %header
        %h2 Cash Desks
      %ul.desks
        - (1..@simulation.cash_desk_count).reverse_each do |desk_number|
          %li
            %span.icon-user{ id: "cash-desk-#{desk_number}-count" } 0

:coffeescript
  $ ->
    $("#toggle-messages").toggle (event) ->
      event.preventDefault()
      $(this).text("Show up messages")
      $("#messages").slideUp()
    , (event) ->
      event.preventDefault()
      $(this).text("Don't show up messages")
      $("#messages").slideDown()