- content_for :head do
  = stylesheet_link_tag 'reset', 'slider', 'dropdown', 'simulation', 'font-awesome', 'visualization', 'tooltipster'
  = javascript_include_tag 'jquery-1.8.3', 'jquery.knob', 'jquery-ui-1.9.2.min', 'jquery.dropdown', 'simulation', 'jquery.tooltipster.min'

#communication.toolbar.hidden
  .main
    %span#simulation-time-toolbar.time 00:00:00

    .actions
      = link_to '', '#', class: 'icon-refresh tooltip', id: 'refresh-link', title: "Restart visualization"
      = link_to '', '#', class: 'icon-ok-circle tooltip', id: 'toggle-messages', title: "Don't show up messages"

  .controls
    = text_field_tag 'toolbar-acceleration', @acceleration, data: { min: 10, max: 600 }, class: 'knob-toolbar'
    = link_to "", "#", class: 'icon-play play-control tooltip', id: 'toolbar-play', title: "Play visualization"

  %ul#messages

%ul#menu-tabs.menu
  %li
    = link_to 'Parameters', '#settings', class: 'icon-cogs'
  %li.active
    = link_to 'Visualization', '#visualization', class: 'icon-film'
  %li
    = link_to 'Summary', '#summary', class: 'icon-file'

= form_for @simulation do |f|
  %ul#tabs.tabs
    %li#settings.settings.tab.hidden= render partial: 'settings', locals: { f: f, read_only: true }

    %li#visualization.tab
      - if @simulation.result.nil?
        #no-result
          Simulation is still being computed. Please wait...

      #controls.main-control{ class: @simulation.result.nil? && "hidden" }
        .label acceleration
        .value
          = text_field_tag "acceleration", @acceleration, data: { min: 10, max: 600 }, class: 'knob-enabled'

        .button
          = link_to '', '#', id: 'play', class: 'primary icon-play play'

        #simulation-time.clock 00:00:00

      = render partial: 'visualization'

    %li#summary.summary.tab.hidden= render partial: 'summary'

:coffeescript
  $ ->
    $(".tooltip:not(.play-control)").tooltipster(
      position: 'bottom-right'
      offsetY: 2
    )

    $(".tooltip.play-control").tooltipster(
      position: 'bottom-left'
      offsetY: 16
      offsetX: -9
    )

    $("#menu-tabs a").click (event) ->
      event.preventDefault()
      $this = $(this)
      $("#menu-tabs .active").removeClass('active')
      $("#tabs .tab").addClass('hidden')
      $($this.attr('href')).removeClass('hidden')
      $this.parent().addClass('active')

    $play = $("#play, #toolbar-play")
    $acceleration = $("#acceleration, #toolbar-acceleration")

    Simulation.bind 'play', ->
      if Simulation.events
        if !window.visualizationInstance
          $("#simulation-time, #communication").css('opacity', 1)
          window.visualizationInstance = new Visualization(Simulation.events, Simulation.getAcceleration())
          window.visualizationInstance.run()
        else
          window.visualizationInstance.resume(Simulation.getAcceleration())

        $play.addClass("icon-pause").removeClass("icon-play")
        Simulation.disableKnob($acceleration)

    Simulation.bind 'pause', ->
      if window.visualizationInstance
        window.visualizationInstance.pause()
        $play.addClass("icon-play").removeClass("icon-pause")
        Simulation.enableKnob($acceleration)

    $play.click (event) ->
      event.preventDefault()
      Simulation.togglePlayback()

    Simulation.initFields({ disabled: true })
    Simulation.bindKnobsTogether($acceleration.eq(0), $acceleration.eq(1))
    Simulation.getResult "#{result_simulation_path(@simulation)}",
      success: (data) ->
        Simulation.initSummary(data.summary)
        $("#no-result").hide()
        $("#controls, #communication").fadeIn()
        Simulation.events = data.events
        $(window).bind 'keydown.simulation', (event) ->
            if event.keyCode == 32
              event.preventDefault()
              Simulation.togglePlayback()
              return false