- content_for :head do
  = stylesheet_link_tag 'reset', 'slider', 'dropdown', 'simulation', 'font-awesome', 'visualization'
  = javascript_include_tag 'jquery-1.8.3', 'jquery.knob', 'jquery-ui-1.9.2.min', 'jquery.dropdown', 'simulation'

= form_for @simulation do |f|
  %h2= link_to 'Show Settings', '#', id: 'toggle-settings'

  #settings
    = render partial: 'settings', locals: { f: f, read_only: true }

  - if @simulation.result.nil?
    #no-result
      Simulation is still being computed. Please wait...

  #controls{ class: @simulation.result.nil? && "hidden" }
    .param
      .label acceleration
      .value
        = text_field_tag "acceleration", 100, data: { min: 10, max: 600 }, class: 'knob-enabled'

    = link_to '', '#', id: 'play', class: 'primary icon-play'

  = render partial: 'visualization'
  = render partial: 'summary'

:coffeescript
  $ ->
    $("#settings").hide()
    $("#toggle-settings").toggle (event) ->
      event.preventDefault()
      $(this).text("Hide Settings")
      $("#settings").slideDown(1000)
    , (event) ->
      event.preventDefault()
      $(this).text("Show Settings")
      $("#settings").slideUp(1000)

    Simulation.initFields({ disabled: true })
    Simulation.getResult "#{result_simulation_path(@simulation)}",
      success: (data) ->
        Simulation.initSummary(data.summary)
        $("#no-result").hide()
        $("#controls, #summary").fadeIn()